html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #131313;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  
}

/*=======================================CLASSES======================================*/
.link{
  color: #fbfd96;
}


.img{
  transition: transform 0.3s ease; 
}
.img:hover{
  transform: scale(1.03);
}


.description {
  text-align: start;
  margin: 0;
}

.description {
  margin: 0cm;
  margin-top: 0cm;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: start;
  color: aqua;
  
  margin-left: 0;
}

.shadername {
    color: aqua;
    font-size:1.5rem;
}

.versions{
    color:#fb9c36;
}
#tt1{
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 255, 102);
  margin-bottom: 0cm;
}
.tt2{
    color:#ce47ff ;
}

/*============================================================================================*/

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}


@media (max-width: 600px) {
  .grid {
    width: 200%;
    flex-direction: column;
  }
}


.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 50px 0 50px 50px;
  position: relative;
  width: 1000px;
  max-width: 100%;
  
  overflow: hidden;
}


.arrow-gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  max-width:900px ;
}

.arrow-gallery img {
  width: 800px;
  height: auto;
  border-radius: 15px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.arrow-gallery img:hover {
  transform: scale(1.1);
}


.arrow {
  background-color: #333;
  color: white;
  border: none;
  font-size: 30px;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.arrow:hover {
  background-color: #555;
}

.gallery::-webkit-scrollbar {
  display: none;
}
.gallery {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

.arrow-gallery {
    display: flex;
    overflow: hidden; /* hide scrollbars */
    scroll-behavior: smooth;
    gap: 10px;
}

